.orange{
    background-color: #f23a2e;
    margin-top: 200px;
height: 170px;
}
.bb{
position: absolute;
margin-left: 400px;
color: white;
}
.bm{
    margin-left: 80px;
}
.wee{
    color: rgb(177, 170, 170);
    font-weight: lighter;
}
.doo{
text-decoration: line-through;
}